<div class="row">
	<div class="col-md-12">
		<%= image_tag @user.avatar.url(:medium), :class => "avatar-img img-circle" %>
	</div>
	<div class="col-md-12">
		<div class="user">
			<h2><%= @user.name %></h2>
			<h3><%= @user.nickname %></h3>
			<h5><a href="https://twitter.com/<%= @user.username %>" target="_blank">@<%= @user.username %> <i class="fa fa-twitter"></i></a></h5>
		</div>
	</div>
</div>

<h2 id="section_title">Artículos</h2>
	<hr>

<div class="super_skinny_wrapper clearfix posts">
	
		<% @posts.each do |post| %>
		<div class="post">
			<div class="col-md-4">
				<%= image_tag post.image.url(:thumb), :class => "avatar-img" %>
			</div>
			<div class="col-md-4 content">
				<%= link_to post.title, post %>
			</div>
			<div class="col-md-4 content">
				<p><%= post.created_at.strftime('%d/%m/%y, %I:%M %P') %></p>
			</div>
		</div>
		<% end %>
	
</div> 

<%= will_paginate @posts, :previous_label => 'Anterior', :next_label => 'Siguiente' %>


