<div class="wrapper wrapper_padding clearfix">
		
		<% if user_signed_in? %>

			<div id="admin_links">
				<%= link_to "Crear Nuevo Artículo", new_post_path(@post) %>
			</div>

		<% end %>

		<div class="homepage_content">
			<h2>Más Recientes</h2>
			<hr>
			<div class="row_index">
				<% @posts.each do |post| %>
					<div class="col-md-4">
						<div class="thumbnail">
							<%= image_tag(post.image.url) %>
							<div id= "grad" class="caption post-content">
								<p class="date"><%= post.created_at.strftime('%d/%m/%y, %I:%M %P') %></p>
								<div class="links">
									<%= link_to post.user.nickname, post.user, :class => "creator" %>
									<%= link_to post.category.category, post.category, :class => "league" %>
								</div>
								<h3><%= link_to post.title, post %></h3>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<div class="content">
				<a class="button" href="/posts?page=2">Ver más →</a>
			</div>
		</div>

	</div>

	<div class="wrapper wrapper_padding clearfix">
		<div class="homepage_content">
			<h2>Timeline</h2>
			<hr>
			<div class="timeline">
			</div>
			<div class="content">
				<a class="button" href="#">Ver más →</a>
			</div>
		</div>

	</div>
