<h1 id="page_title">Artículos</h1>	

	<h2 id="section_title"><%= @category.category %></h2>
	<hr>

	<div id="posts_wrapper" class="skinny_wrapper">
		<% @category.posts.each do |post| %>
			<div class="post">
				<div class="thumbnail">
					<%= image_tag post.image.url, :class => "img-centered" %>
					<div class="caption post-content" id="grad">
						<p class="date"><%= post.created_at.strftime('%d/%m/%y, %I:%M %P') %></p>
						<div class="links">
							<%= link_to post.user.nickname, post.user, :class => "creator" %>
							<%= link_to post.category.category, post.category, :class => "league" %>
						</div>
						<h2><%= link_to post.title, post %></h2>
					</div>
				</div>
			</div>
		<% end %>
	</div>

	<%= will_paginate @posts, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
	
	<div class="wrapper wrapper_padding clearfix menu_articles">
		<div class="row_posts">
			<div class="col-md-6">
				<h2 class="center">Creador</h2>
				<hr class="center">
				<% @users.each do |user| %>
					<% if (user.id != 3) %>
						<h3><a href="#"><%= link_to user.nickname, user %></a></h3>
						<p class="date"><%= user.name %></p>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-6">
				<h2 class="center">Liga</h2>
				<hr class="center">
				<% @categories.each do |category| %>
					<h3><%= link_to category.category, category %></h3>
				<% end %>
			</div>
		</div>
	</div>
